#resolution{
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    opacity: .5;
    background-color: rgb(157, 255, 206);
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #resolution:after{
        content: "SM > 576";
    }
    #resolution{
        background-color: pink;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #resolution:after{
        content: "MD > 768 < 992";
    }
    #resolution{
        background-color: plum;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #resolution:after{
        content:"LG > 992 < 1200";
    }
    #resolution{
        background-color: powderblue;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #resolution:after{
        content: "XL > 1200 < 1400";
    }
    #resolution{
        background-color: wheat;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    #resolution:after{
        content: "XLL > 1400";
    }
    #resolution{
        background-color: rgb(157, 255, 206);
    }
}